<script lang="ts" setup>
import {IonContent, IonHeader, IonList, IonPage, IonRefresher, IonRefresherContent, IonTitle, IonToolbar} from "@ionic/vue"
import {onMounted, ref, watch} from "vue"
import {BLE} from "@awesome-cordova-plugins/ble"
import BleDeviceListItem from "@/components/BleDeviceListItem.vue"

const devices = ref<any[]>([])

onMounted(() => {
    scanBle()
})

const refresh = (ev: CustomEvent) => {
    scanBle()
    setTimeout(() => {
        ev.detail.complete()
    }, 5000)
}

async function scanBle() {
    devices.value = []
    BLE.scan([], 5).subscribe((device: BleDevice) => {
        if (device.name) devices.value.push(device)
    })
}

interface BleDevice {
    name?: string
    id: string
    advertising: number[]
    rssi: number
}
</script>

<template>
    <ion-page>
        <ion-header :translucent="true">
            <ion-toolbar>
                <ion-title>Ocuelar Devices</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content :fullscreen="true">
            <ion-refresher slot="fixed" @ionRefresh="refresh($event)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>

            <ion-header collapse="condense">
                <ion-toolbar>
                    <ion-title size="large">condense</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-list>
                <ble-device-list-item v-for="device in devices" :key="device.id" :device="device"/>
            </ion-list>
        </ion-content>
    </ion-page>
</template>
