<script lang="ts" setup>
import {IonAlert, IonButton, IonContent, IonImg, IonInput, IonItem, IonList, IonPage} from "@ionic/vue"
import {reactive} from "vue"
import {oauth} from "@/providers"
import useAuth from "@/hooks/useAuth"
import router from "@/router"

const {setAuth} = useAuth()

const user = reactive({
    username: "",
    password: ""
})

const alert = reactive({
    isOpen: false,
    header: "",
    message: ""
})

function submitLogin(event: Event) {
    event.preventDefault()

    console.log("login")
    if (user.username.length === 0) {
        alert.header = "Username is required"
        alert.message = "Please enter your username"
        alert.isOpen = true
        return
    } else if (user.password.length === 0) {
        alert.header = "Password is required"
        alert.message = "Please enter your password"
        alert.isOpen = true
        return
    }

    oauth.login(user.username, user.password).then((result) => {
        console.log(result.data)
        setAuth(result.data)
        router.replace({name: "ble.scan"})
    }).catch((error) => {
        console.log("login error", error)
        alert.header = "Login failed"
        alert.message = "Please check your username and password"
        alert.isOpen = true
    })
}
</script>

<template>
    <ion-page>
        <ion-content :fullscreen="true" class="ion-padding">
            <form @submit="submitLogin">
                <ion-list>
                    <ion-img alt="logo" class="ion-padding" src="/images/logo-ocuelar-staff.png"/>
                    <ion-item>
                        <ion-input v-model="user.username" label="Username" label-placement="floating" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input v-model="user.password" label="Password" label-placement="floating" type="password"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-button expand="block" type="submit">Login</ion-button>
            </form>
        </ion-content>
        <ion-alert :buttons="['OK']" :header="alert.header" :is-open="alert.isOpen" :message="alert.message"
                   @did-dismiss="alert.isOpen = false"/>
    </ion-page>
</template>

<style scoped>

</style>
