.ion-color-ocuelar {
    --ion-color-ocuelar: #f05758;
    --ion-color-ocuelar-contrast: #ffffff;
    --ion-color-ocuelar-shade: #f05758;
    --ion-color-ocuelar-tint: #f05758;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;

    --ion-color-base: var(--ion-color-ocuelar);
    --ion-color-contrast: var(--ion-color-ocuelar-contrast);
    --ion-color-shade: var(--ion-color-ocuelar-shade);
    --ion-color-tint: var(--ion-color-ocuelar-tint);
}

ion-datetime {
    --background: #FFCA67;
}